@model BE.TicketBE
@{
   
}
  <main class="cart-page default space-top-30">
            <div class="container">
                <div class="row">
                   
                    <div class="cart_content col-xl-12 col-lg-12 col-md-12">
                        <header class="card-header">
                            <h3 class="card-title"><span>بلیط شما</span></h3>
                        </header>
                        <div class="table-responsive default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">بلیط</th>
                                        <th scope="col">مبدا</th>
                                        <th scope="col">مقصد</th>
                                        <th scope="col">تعداد</th>
                                        <th scope="col">قیمت بلیط</th>
                                        <th scope="col"> شرکت هواپیمایی</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                         
                                           <tr class="cart_item">
                                               <td>
                                                   <img src="/Image/Ticket/@Model.Pic" alt="">
                                                   <i class="fa fa-times" aria-hidden="true"></i>
                                               </td>
                                               <td>
                                                   <h3 class="cart_title">
                                                     <a> @Model.Mabdae</a>
                                                   </h3>
                                                   
                                               </td>
                                               <td>
                                                    <h3 class="cart_title">
                                                     <a> @Model.Maghsad</a>
                                                   </h3>
                                               </td>
                                               <td><input type="number" class="tedad" value="1" /></td>
                                               <td class="price_alltd">@Model.Price <span>تومان</span></td>
                                           

                                              @foreach (var company in Model.company_Tickets)
                                              {
                                                 <td>
                                                   <h3 class="cart_title">
                                                     <a> @company.Company.Name</a>
                                                   </h3>
                                                   
                                                 </td>
                                              }
                                               <td>    
                                                    <div class="col-12 text--center">
                                                        <a asp-action="AddToBasket" asp-controller="Order" asp-route-TicketId="@Model.ID" type="submit" class="btn big_btn btn-main-masai"> افزودن به سبد خرید</a>
                                                    </div>
                                               </td>
                                           </tr>

                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                      
                    </div>
                    </div>
           
        </main>
